avd/config_backup/**
.python-version
# custom python package
custom.egg-info/*
__pycache__
# Python virtual environment
venv
# containerlab run folder
containerlab-topology/clab-anta-demo/*
*.bak
# ANTA snapshot
anta_snapshot_*
